#clear{
    width: 100px;
    margin-left: 30px;
    text-shadow:gray 10px ;
}

.style{
    width: 160px;
    height: 270px;
    align-items: center;
    margin: auto;
    border: 2px solid black;
    padding: 5px;
}

input{
    width: 50px;
}


#answer{
    width: 150px;
    background-color: aquamarine;
}